--
-- PostgreSQL database cluster dump
--

\restrict Llhns4wkvx22wYP4igoNlmpz3vBqUml0rbXqLpsjMsgJYSPucYzpEqoUjHVrGdg

SET default_transaction_read_only = off;

SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;

--
-- Roles
--

CREATE ROLE admin;
ALTER ROLE admin WITH SUPERUSER INHERIT CREATEROLE CREATEDB LOGIN REPLICATION BYPASSRLS PASSWORD 'SCRAM-SHA-256$4096:qGc9xp8MfY5/ZuXRB5xAUg==$7bU/r/FqgNfgI1Kr1HFK4uH830S2b6EstpYCJ0mHSKI=:W6zkeMc6ROo3173wWAfybnyA62yPbTELZI/MXAEX3wE=';

--
-- User Configurations
--








\unrestrict Llhns4wkvx22wYP4igoNlmpz3vBqUml0rbXqLpsjMsgJYSPucYzpEqoUjHVrGdg

--
-- Databases
--

--
-- Database "template1" dump
--

\connect template1

--
-- PostgreSQL database dump
--

\restrict Kdo1NBdmpCStvf8Ym5zgCCjZ3n6Ly2qdpadZ4SaqyHYuzNlPbJDoQqwmDJGdaZC

-- Dumped from database version 15.17
-- Dumped by pg_dump version 15.17

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- PostgreSQL database dump complete
--

\unrestrict Kdo1NBdmpCStvf8Ym5zgCCjZ3n6Ly2qdpadZ4SaqyHYuzNlPbJDoQqwmDJGdaZC

--
-- Database "hls_db" dump
--

--
-- PostgreSQL database dump
--

\restrict xrdeuOwf5qP9uMJsd7a2OobFLFd2gGeJCHbRjSnNb7kduGioveniIcmfqcZl1EN

-- Dumped from database version 15.17
-- Dumped by pg_dump version 15.17

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: hls_db; Type: DATABASE; Schema: -; Owner: admin
--

CREATE DATABASE hls_db WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = libc LOCALE = 'en_US.utf8';


ALTER DATABASE hls_db OWNER TO admin;

\unrestrict xrdeuOwf5qP9uMJsd7a2OobFLFd2gGeJCHbRjSnNb7kduGioveniIcmfqcZl1EN
\connect hls_db
\restrict xrdeuOwf5qP9uMJsd7a2OobFLFd2gGeJCHbRjSnNb7kduGioveniIcmfqcZl1EN

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: account; Type: SCHEMA; Schema: -; Owner: admin
--

CREATE SCHEMA account;


ALTER SCHEMA account OWNER TO admin;

--
-- Name: finance; Type: SCHEMA; Schema: -; Owner: admin
--

CREATE SCHEMA finance;


ALTER SCHEMA finance OWNER TO admin;

--
-- Name: hr; Type: SCHEMA; Schema: -; Owner: admin
--

CREATE SCHEMA hr;


ALTER SCHEMA hr OWNER TO admin;

--
-- Name: warehouse; Type: SCHEMA; Schema: -; Owner: admin
--

CREATE SCHEMA warehouse;


ALTER SCHEMA warehouse OWNER TO admin;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: users; Type: TABLE; Schema: account; Owner: admin
--

CREATE TABLE account.users (
    id integer NOT NULL,
    username character varying(50) NOT NULL,
    password_hash character varying(100) NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE account.users OWNER TO admin;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: account; Owner: admin
--

CREATE SEQUENCE account.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE account.users_id_seq OWNER TO admin;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: account; Owner: admin
--

ALTER SEQUENCE account.users_id_seq OWNED BY account.users.id;


--
-- Name: users id; Type: DEFAULT; Schema: account; Owner: admin
--

ALTER TABLE ONLY account.users ALTER COLUMN id SET DEFAULT nextval('account.users_id_seq'::regclass);


--
-- Data for Name: users; Type: TABLE DATA; Schema: account; Owner: admin
--

COPY account.users (id, username, password_hash, created_at) FROM stdin;
6	j_smith_2026	BlueForest!99	2026-04-28 16:19:57.206499
7	alpha_dev	DevPass4321	2026-04-28 16:19:57.206499
8	pixel_queen	R@inbow$88	2026-04-28 16:19:57.206499
9	n_davis_admin	SecureRoot!01	2026-04-28 16:19:57.206499
10	tester_01	password123	2026-04-28 16:19:57.206499
11	admin	admin123	2026-04-28 16:19:57.206499
\.


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: account; Owner: admin
--

SELECT pg_catalog.setval('account.users_id_seq', 11, true);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: account; Owner: admin
--

ALTER TABLE ONLY account.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users users_username_key; Type: CONSTRAINT; Schema: account; Owner: admin
--

ALTER TABLE ONLY account.users
    ADD CONSTRAINT users_username_key UNIQUE (username);


--
-- PostgreSQL database dump complete
--

\unrestrict xrdeuOwf5qP9uMJsd7a2OobFLFd2gGeJCHbRjSnNb7kduGioveniIcmfqcZl1EN

--
-- Database "postgres" dump
--

\connect postgres

--
-- PostgreSQL database dump
--

\restrict xfWdAMSmGPhL7Z0umAiPyRTui0EbiiPpTE3sfCsFealiBuBuF8ees0gVEHk6jIg

-- Dumped from database version 15.17
-- Dumped by pg_dump version 15.17

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- PostgreSQL database dump complete
--

\unrestrict xfWdAMSmGPhL7Z0umAiPyRTui0EbiiPpTE3sfCsFealiBuBuF8ees0gVEHk6jIg

--
-- PostgreSQL database cluster dump complete
--

